# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
*.csproj
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
_ReSharper.BoxBlowout/
_ReSharper.BoxBlowout-csharp/
*.svd
*.userprefs
*.pidb
*.suo
*.user
*.unityproj
*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db


# ============ #
# Build #
# ============ #
Stage/